/*
  CSS file for index.html
*/

body {
    font-family: arial, halvetica, sans-serif;
    background-color: lightgray;
}

h1 {
    background-color: white;
    border: 5px solid black;
    color: black;
    font-size: 250%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 95%;
    border-radius: 25%;
}

.mainimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
	width: 350px;

}